body {
   background-image: url("https://t3.ftcdn.net/jpg/02/97/59/86/360_F_297598681_HyFMT5TjbH73y4Q0RkablbaMbH7CsA1z.jpg");
  margin: 0;
  border: 20px solid #3fcfe7;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

h1 {
  font-family: 'Arial';
  font-size: 20px; 
  width: 90%;
}

table {
  position:relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
  height: 100vh;
}

#grey-td {
  background-color: #8e99a2;
  height: 100px;
  width: 150px;
  border: 20px;
}

.item {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  margin-bottom: 5px; 
}

.arrow {
  font-size: 20px;
  font-weight: bold;
}

.img-armarios {
  width: auto;
  height: 80%;
  bottom: 60px;
  z-index: 0;
}

.armarios {
  vertical-align: bottom;
}

.image-container {
  position: relative;
  display: inline-block;
}

.base-image {
  position: relative;
  width: auto;
  height: 80%;
  z-index: 0;
}

.inventario {
  position: absolute;
  height: 190px;
  width: 150px;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-color: #f6edda;
  z-index: 2;
  opacity: 1;
  text-align: center;
}

.inventario p {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}

.overlay {
  position: absolute;
  bottom: 100px;
  width: auto;
  height: 250px;
  z-index: 1;
  opacity: 1;
} 

.dot {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #28b6e4;
    display: flex;
    justify-content: center;
    align-items: center;
  font-family: Arial; 
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.img-dot {
  height: 40px;
  width: 40px;
}